@media only screen and (min-width: 38rem) {

  .section {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: auto;
        gap: 10px;
    }



  header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
      }

    header {
        grid-template-columns: 24px auto;
    }


  .hamburger {
      display: none;
  }

  
.navigation {
    display: block;

  }

#filter {
  align-items: center;
}

.navigation ul {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.hamburger {
  display: none;


}
    
}